Part 1 - Numpy

Use this dataset for the first 4 questions.

url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'

iris_2d = np.genfromtxt(url, delimiter=',', dtype='float', usecols=[0,1,2,3])

1.⁠ ⁠Define two custom numpy arrays, say A and B. Generate two new numpy arrays by stacking A and B vertically and horizontally.

2.⁠ ⁠Find common elements between A and B. [Hint : Intersection of two sets]

3.⁠ ⁠Extract all numbers from A which are within a specific range. eg between 5 and 10. [Hint: np.where() might be useful or boolean masks]

4.⁠ ⁠Filter the rows of iris_2d that has petallength (3rd column) > 1.5 and sepallength (1st column) < 5.0

In [15]:
import numpy as np
import urllib.request
import ssl

# Create an SSL context that ignores certificate verification
context = ssl._create_unverified_context()

# URL of the dataset
url = "https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data"

# Download the file and read its contents
response = urllib.request.urlopen(url, context=context)
data = response.read().decode("utf-8").splitlines()

# Convert to NumPy array
iris_2d = np.genfromtxt(data, delimiter=",", dtype=float, usecols=[0,1,2,3])

In [16]:
A = iris_2d[1:4]
B = iris_2d[6:9]
print(A)
print(B)
C = np.vstack((A,B))
D = np.hstack((A,B))
print(C)
print(D)

[[4.9 3.  1.4 0.2]
 [4.7 3.2 1.3 0.2]
 [4.6 3.1 1.5 0.2]]
[[4.6 3.4 1.4 0.3]
 [5.  3.4 1.5 0.2]
 [4.4 2.9 1.4 0.2]]
[[4.9 3.  1.4 0.2]
 [4.7 3.2 1.3 0.2]
 [4.6 3.1 1.5 0.2]
 [4.6 3.4 1.4 0.3]
 [5.  3.4 1.5 0.2]
 [4.4 2.9 1.4 0.2]]
[[4.9 3.  1.4 0.2 4.6 3.4 1.4 0.3]
 [4.7 3.2 1.3 0.2 5.  3.4 1.5 0.2]
 [4.6 3.1 1.5 0.2 4.4 2.9 1.4 0.2]]

In [18]:
intersection_set = np.intersect1d(A,B)
print(intersection_set)

[0.2 1.4 1.5 4.6]

In [23]:
print(A[np.where((A < 5) & (A > 3))])

[4.9 4.7 3.2 4.6 3.1]

In [25]:
filtered_rows = iris_2d[(iris_2d[:, 2] > 1.5) & (iris_2d[:, 0] < 5.0)]
print(filtered_rows)

[[4.8 3.4 1.6 0.2]
 [4.8 3.4 1.9 0.2]
 [4.7 3.2 1.6 0.2]
 [4.8 3.1 1.6 0.2]
 [4.9 2.4 3.3 1. ]
 [4.9 2.5 4.5 1.7]]

Part 2 - Pandas

1.⁠ ⁠From df filter the 'Manufacturer', 'Model' and 'Type' for every 20th row starting from 1st (row 0).

df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

2.⁠ ⁠Replace missing values in Min.Price and Max.Price columns with their respective mean.

df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

3.⁠ ⁠How to get the rows of a dataframe with row sum > 100?

df = pd.DataFrame(np.random.randint(10, 40, 60).reshape(-1, 4))

In [ ]:
import pandas as pd

# Fetch data from the URL
url = 'https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv'
response = urllib.request.urlopen(url, context=context)

# Convert response to a pandas DataFrame
df = pd.read_csv(response)

print(df.head())  # Print first few rows

   Manufacturer       Model     Type  Min.Price  Price  Max.Price  MPG.city  \
0         Acura     Integra    Small       12.9   15.9       18.8      25.0
1           NaN      Legend  Midsize       29.2   33.9       38.7      18.0
2          Audi          90  Compact       25.9   29.1       32.3      20.0
3          Audi         100  Midsize        NaN   37.7       44.6      19.0
4           BMW        535i  Midsize        NaN   30.0        NaN      22.0
5         Buick     Century  Midsize       14.2   15.7       17.3      22.0
6         Buick     LeSabre    Large       19.9   20.8        NaN      19.0
7         Buick  Roadmaster    Large       22.6   23.7       24.9      16.0
8         Buick     Riviera  Midsize       26.3   26.3       26.3      19.0
9      Cadillac     DeVille    Large       33.0   34.7       36.3      16.0
10     Cadillac     Seville  Midsize       37.5   40.1       42.7      16.0
11    Chevrolet    Cavalier  Compact        8.5   13.4       18.3      25.0
12    Chevrolet     Corsica  Compact       11.4   11.4       11.4      25.0
13    Chevrolet      Camaro   Sporty       13.4   15.1       16.8      19.0
14    Chevrolet      Lumina  Midsize       13.4   15.9       18.4       NaN
15    Chevrolet  Lumina_APV      Van       14.7   16.3       18.0      18.0
16    Chevrolet       Astro      Van       14.7   16.6       18.6      15.0
17    Chevrolet     Caprice    Large       18.0   18.8       19.6      17.0
18    Chevrolet    Corvette   Sporty       34.6   38.0       41.5      17.0
19          NaN    Concorde    Large       18.4   18.4       18.4      20.0
20     Chrysler     LeBaron  Compact       14.5   15.8       17.1      23.0

    MPG.highway             AirBags DriveTrain  ... Passengers  Length  \
0          31.0                 NaN      Front  ...        5.0   177.0
1          25.0  Driver & Passenger      Front  ...        5.0   195.0
2          26.0         Driver only      Front  ...        5.0   180.0
3          26.0  Driver & Passenger        NaN  ...        6.0   193.0
4          30.0                 NaN       Rear  ...        4.0   186.0
5          31.0         Driver only        NaN  ...        6.0   189.0
6          28.0         Driver only      Front  ...        6.0   200.0
7          25.0         Driver only       Rear  ...        6.0   216.0
8          27.0         Driver only      Front  ...        5.0   198.0
9          25.0         Driver only      Front  ...        6.0   206.0
10         25.0  Driver & Passenger      Front  ...        5.0   204.0
11         36.0                 NaN        NaN  ...        5.0   182.0
12         34.0         Driver only      Front  ...        5.0   184.0
13         28.0  Driver & Passenger       Rear  ...        4.0   193.0
14         29.0                 NaN      Front  ...        6.0     NaN
15         23.0                 NaN      Front  ...        7.0   178.0
16         20.0                 NaN        4WD  ...        8.0   194.0
17         26.0         Driver only       Rear  ...        6.0   214.0
18         25.0         Driver only       Rear  ...        2.0   179.0
19         28.0  Driver & Passenger      Front  ...        6.0   203.0
20         28.0  Driver & Passenger      Front  ...        6.0   183.0

    Wheelbase  Width  Turn.circle Rear.seat.room  Luggage.room  Weight  \
0       102.0   68.0         37.0           26.5           NaN  2705.0
1       115.0   71.0         38.0           30.0          15.0  3560.0
2       102.0   67.0         37.0           28.0          14.0  3375.0
3       106.0    NaN         37.0           31.0          17.0  3405.0
4       109.0   69.0         39.0           27.0          13.0  3640.0
5       105.0   69.0         41.0           28.0          16.0     NaN
6       111.0   74.0         42.0           30.5          17.0  3470.0
7       116.0   78.0         45.0           30.5          21.0  4105.0
8       108.0    NaN         41.0           26.5          14.0  3495.0
9       114.0   73.0         43.0           35.0          18.0  3620.0
10      111.0   74.0         44.0           31.0           NaN  3935.0
11      101.0   66.0         38.0           25.0          13.0  2490.0
12      103.0   68.0         39.0           26.0           NaN  2785.0
13      101.0   74.0         43.0           25.0          13.0  3240.0
14      108.0   71.0          NaN           28.5          16.0  3195.0
15      110.0   74.0         44.0           30.5           NaN  3715.0
16      111.0   78.0         42.0           33.5           NaN  4025.0
17      116.0   77.0         42.0           29.5          20.0  3910.0
18       96.0   74.0         43.0            NaN           NaN  3380.0
19      113.0   74.0          NaN           31.0          15.0  3515.0
20      104.0   68.0         41.0           30.5          14.0  3085.0

     Origin                  Make
0   non-USA         Acura Integra
1   non-USA          Acura Legend
2   non-USA               Audi 90
3   non-USA              Audi 100
4   non-USA              BMW 535i
5       USA         Buick Century
6       USA         Buick LeSabre
7       USA      Buick Roadmaster
8       USA         Buick Riviera
9       USA      Cadillac DeVille
10      USA      Cadillac Seville
11      USA    Chevrolet Cavalier
12      USA     Chevrolet Corsica
13      USA      Chevrolet Camaro
14      USA      Chevrolet Lumina
15      USA  Chevrolet Lumina_APV
16      USA       Chevrolet Astro
17      USA     Chevrolet Caprice
18      NaN    Chevrolet Corvette
19      USA     Chrylser Concorde
20      USA      Chrysler LeBaron

[21 rows x 27 columns]

In [44]:
filter_rows = df[['Manufacturer','Model','Type']][0::19]
print(filter_rows)

     Manufacturer       Model     Type
0           Acura     Integra    Small
19            NaN    Concorde    Large
38            Geo       Metro    Small
57  Mercedes-Benz        190E  Compact
76        Pontiac  Bonneville    Large

In [45]:
url = 'https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv'
response = urllib.request.urlopen(url, context=context)

# Convert response to a pandas DataFrame
df = pd.read_csv(response)

print(df.head())

  Manufacturer    Model     Type  Min.Price  Price  Max.Price  MPG.city  \
0        Acura  Integra    Small       12.9   15.9       18.8      25.0
1          NaN   Legend  Midsize       29.2   33.9       38.7      18.0
2         Audi       90  Compact       25.9   29.1       32.3      20.0
3         Audi      100  Midsize        NaN   37.7       44.6      19.0
4          BMW     535i  Midsize        NaN   30.0        NaN      22.0

   MPG.highway             AirBags DriveTrain  ... Passengers  Length  \
0         31.0                 NaN      Front  ...        5.0   177.0
1         25.0  Driver & Passenger      Front  ...        5.0   195.0
2         26.0         Driver only      Front  ...        5.0   180.0
3         26.0  Driver & Passenger        NaN  ...        6.0   193.0
4         30.0                 NaN       Rear  ...        4.0   186.0

   Wheelbase  Width  Turn.circle Rear.seat.room  Luggage.room  Weight  \
0      102.0   68.0         37.0           26.5           NaN  2705.0
1      115.0   71.0         38.0           30.0          15.0  3560.0
2      102.0   67.0         37.0           28.0          14.0  3375.0
3      106.0    NaN         37.0           31.0          17.0  3405.0
4      109.0   69.0         39.0           27.0          13.0  3640.0

    Origin           Make
0  non-USA  Acura Integra
1  non-USA   Acura Legend
2  non-USA        Audi 90
3  non-USA       Audi 100
4  non-USA       BMW 535i

[5 rows x 27 columns]

In [51]:
avg_min_price = np.mean(df['Min.Price'])
print(avg_min_price)
df['Min.Price']=df['Min.Price'].fillna(avg_min_price)
avg_max_price = np.mean(df['Max.Price'])
print(avg_max_price)
df['Max.Price']=df['Max.Price'].fillna(avg_max_price)
print(df.head())

17.11860465116279
21.45909090909091
  Manufacturer    Model     Type  Min.Price  Price  Max.Price  MPG.city  \
0        Acura  Integra    Small  12.900000   15.9  18.800000      25.0
1          NaN   Legend  Midsize  29.200000   33.9  38.700000      18.0
2         Audi       90  Compact  25.900000   29.1  32.300000      20.0
3         Audi      100  Midsize  17.118605   37.7  44.600000      19.0
4          BMW     535i  Midsize  17.118605   30.0  21.459091      22.0

   MPG.highway             AirBags DriveTrain  ... Passengers  Length  \
0         31.0                 NaN      Front  ...        5.0   177.0
1         25.0  Driver & Passenger      Front  ...        5.0   195.0
2         26.0         Driver only      Front  ...        5.0   180.0
3         26.0  Driver & Passenger        NaN  ...        6.0   193.0
4         30.0                 NaN       Rear  ...        4.0   186.0

   Wheelbase  Width  Turn.circle Rear.seat.room  Luggage.room  Weight  \
0      102.0   68.0         37.0           26.5           NaN  2705.0
1      115.0   71.0         38.0           30.0          15.0  3560.0
2      102.0   67.0         37.0           28.0          14.0  3375.0
3      106.0    NaN         37.0           31.0          17.0  3405.0
4      109.0   69.0         39.0           27.0          13.0  3640.0

    Origin           Make
0  non-USA  Acura Integra
1  non-USA   Acura Legend
2  non-USA        Audi 90
3  non-USA       Audi 100
4  non-USA       BMW 535i

[5 rows x 27 columns]

In [52]:
df = pd.DataFrame(np.random.randint(10, 40, 60).reshape(-1, 4))
print(df)

     0   1   2   3
0   34  36  29  38
1   36  15  25  23
2   22  13  21  34
3   11  25  29  27
4   36  34  33  11
5   37  17  25  17
6   30  30  24  23
7   19  35  37  13
8   21  32  24  18
9   33  14  37  15
10  39  39  35  15
11  29  22  37  36
12  16  20  35  11
13  10  10  19  22
14  25  26  17  19

In [53]:
df[df.sum(axis=1) > 100]

     0   1   2   3
0   34  36  29  38
4   36  34  33  11
6   30  30  24  23
7   19  35  37  13
10  39  39  35  15
11  29  22  37  36